<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <table border="3px">
        <tr>
            <th>dept_no</th>
            <th>dname</th>
            <th>location</th>
        </tr>
        {% for do in QLDO %}
        <tr>
            
            <td>{{do.dept_no}}</td>
            <td>{{do.dname}}</td>
            <td>{{do.location}}</td>
        

        </tr>
        {% endfor %}
    </table>
    </center>
</body>
</html>